## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
string="Hi there Sam!"
y=string.split()
print(y)

['Hi', 'there', 'Sam!']

In [ ]:
str="Hi there dad!"
a=str.split()
print(a)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet="Earth"
diameter=12742

In [ ]:
print( 'The diameter of {} is {} kilometers.' .format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
x=lst[3][1][2]
print(x)

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
#Tuple is immutable.
#Tuples operations are safe.
#Tuples consumes less memory.
#Tuple is immutable and list is mutable.
#Tuple consumes less memory compared to list

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
  return email.split('@')[-1]

In [ ]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def Dog(str):
  if 'dog' in str.lower():
    print("True")
  else:
    print("False")

str=input()
Dog(str)

is there any dog here?
True

In [ ]:
Dog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def count(str):
  cnt = 0
  for word in str.lower().split():
    if word == 'dog':
      cnt += 1
  return cnt

In [ ]:
count('This dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(85,False)

'Big Ticket'

In [ ]:
caught_speeding(87,True)

'Big Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employees = ["Ram","Ravi","Somu","Babu","Vinay"]
salary={}
for emp in employees:
  try:
    amount=int(input(f'Enter salary for {emp}: '))
    salary[emp]=amount
  except ValueError:
    print(f'Wrong salary input for {emp} ')
print(salary)
print('Total Salary Expenditure : ',sum(salary.values()))

Enter salary for Ram: 10000
Enter salary for Ravi: 200002
Enter salary for Somu: 30000
Enter salary for Babu: 7500
Enter salary for Vinay: 6500
{'Ram': 10000, 'Ravi': 200002, 'Somu': 30000, 'Babu': 7500, 'Vinay': 6500}
Total Salary Expenditure :  254002

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
dict_1={'Empid':700,'Empname':'Gopi','Basicpay':75000}
dict_2={'DeptName': 'Sales','DeptID':'S0011'}
dict_1.update(dict_2)
print("Combined Dictionary is:")
print(dict_1)

Combined Dictionary is:
{'Empid': 700, 'Empname': 'Gopi', 'Basicpay': 75000, 'DeptName': 'Sales', 'DeptID': 'S0011'}